@model Dialysis.Dto.WebApi.PatientDto
@{
    Layout = null;
    ViewBag.Title = "血糖记录";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>@ViewBag.Title</title>
    <link href="~/css/weui.min.css" rel="stylesheet" />
    <link href="~/css/example.css" rel="stylesheet" />
    <link href="~/css/v.css" rel="stylesheet" />
</head>
<body ontouchstart style="background:#F6F7F7">
    <div class="container js_container" id="container">
        <div class="page slideIn cell">
            <div class="bd" style="background:#F6F7F7">
                @Html.HiddenFor(m => m.Id)
                @if (Model.HasBloodSugarData)
                {
                    <div>
                        <div id="chartContainer"></div>
                    </div>
                    <div class="navbar">
                        <div class="bd" style="margin-top: 15px;padding-bottom: 0">
                            <div class="weui_tab">
                                <div class="weui_navbar">
                                    <div class="weui_navbar_item weui_bar_item_on" onclick="GetTopTen()">
                                        前10次
                                    </div>
                                    <div class="weui_navbar_item" onclick="GetTopTwenty()">
                                        前20次
                                    </div>
                                    <div class="weui_navbar_item" onclick="GetTopThirty()">
                                        前30次
                                    </div>
                                </div>
                                <div class="weui_tab_bd">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="weui_cells weui_cells_access" style="margin-top: 5px">
                    </div>
                }
                else
                {
                    <div class="weui_cells_title" style="text-align: center"><img style="width:50%;margin-top:35px;" src="~/images/bs_nothing.png" /></div>
                }
            </div>
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/zepto.min.js"></script>
    <script src="~/js/v.js"></script>
    <script src="~/js/fusioncharts.js"></script>
    <script src="~/js/fusioncharts.charts.js"></script>
    <script>
        var currentChart;
        $(function () {
            if ("@Model.HasBloodSugarData" == "True") {
                GetBloodSugarList(10);
            }
        })

        function GetTopTen() {
            GetBloodSugarList(10);
        }

        function GetTopTwenty() {
            GetBloodSugarList(20);
        }

        function GetTopThirty() {
            GetBloodSugarList(30);
        }

        function GetBloodSugarList(number) {
            patientId = $("#Id").val();
            $.ajax({
                url: "@Url.Action("GetList", "BloodSugar")",
                type: "GET",
                async: false,
                data: { "patientId": patientId, "topNumber": number },
                success: function (data) {
                    var str = "";
                    var chartData = [];
                    for (var i = 0; i < data.length; i++) {
                        chartData.push({
                            label: data[i].AddTime,
                            value: data[i].Value,
                            "color": "3994F9",
                            "stepSkipped": false
                        });
                        str = "<div class='weui_cell' href='javascript:;'><div class='weui_cell_bd weui_cell_primary'><p>" + data[i].AddTime + "</p></div><div style='width: 50px;text-align: right'>" + data[i].Value + "</div></div>" + str;
                    }
                    $(".weui_cells_access").empty();
                    $(".weui_cells_access").html(str);

                    var revenueChart = new FusionCharts({
                        "type": "line",
                        "renderAt": "chartContainer",
                        "width": "100%",
                        "height": "300",
                        "dataFormat": "json",
                        "dataSource": {
                            "chart": {
                                "caption": "",
                                "subcaption": "",
                                "yaxisname": "mmol/l",
                                "yaxismaxvalue": "15",
                                "yaxisminvalue": "0",
                                "divlinealpha": "30",
                                "showvalues": "1",
                                "canvasbgalpha": "0",
                                "bgalpha": "0",
                                "plotborderalpha": "0",
                                "showborder": "0",
                                "showalternatehgridcolor": "0",
                                "plotgradientcolor": "",
                                "showplotborder": "0",
                                "numdivlines": "5",
                                "showyaxisvalues": "0",
                                "palettecolors": "#97CBE7",
                                "canvasborderthickness": "1",
                                "canvasbordercolor": "#fff",
                                "basefontcolor": "#074868",
                                "divlinecolor": "#CCCCCC",
                                "tooltipborderalpha": "0",
                                "showLabels": "0"
                            },
                            "data": chartData
                        }
                    });
                    revenueChart.render();
                },
                error: function (msg) {
                    alert(msg);
                }
            });
        }
    </script>
</body>
</html>
