@model Dialysis.Dto.WebApi.CourseDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" charset="utf-8">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        img {
            width: 100% !important;
        }

        span {
            line-height: 1.5em !important;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                @if (Model != null)
                {
                    <h4 class="text-center">@Model.Title</h4>
                    <div>
                        @Html.Raw(System.Net.WebUtility.HtmlDecode(Model.Content))
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>